{% extends 'base.html' %}
{% load static %}

{% block title %} Criar conta {% endblock %}

{% block main %}
    <div class="background-register " style="background-image: url({% static 'imagens/landscape.jpg' %})"> 
            <div class="container">
        
                    <h1 class="title text-light col-md-5 offset-md-4 pt-3 display-4">Criar conta</h1>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-sm-4 offset-md-4">
                                <label class="col-form-label text-light">Usuário</label>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 offset-md-4">
                                <label class="col-form-label text-light">Primeiro nome</label>
                                {{ form.first_name }}
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-4 offset-md-4">
                                <label class="col-form-label text-light">Sobrenome</label>
                                {{ form.last_name }}
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-4 offset-md-4">
                                <label class="col-form-label text-light">Email</label>
                                {{ form.email }}
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-4 offset-md-4">
                                <label class="col-form-label text-light">Senha</label>
                                {{ form.password1 }}
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-4 offset-md-4">
                                <label class="col-form-label text-light">Confirme sua senha</label>
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class="form-group col-sm-4 offset-md-4">
                            <button class="btn btn-outline-light btn-block button">Registrar</button>
                        </div>

                    </form>
                     <div class="form-group col-md-4 offset-md-4">
                        <a href="#" class="btn text-light btn-link pl-5 ml-5">Esqueceu sua senha?</a>
                    </div>
            </div>     
        <footer class="bg-dark">
            <div class="container">
                <div class="text-center text-light">
                    &copy; 2018, by Luiz Moraes
                </div>
            </div>
        </footer>  
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

{% endblock %}