{% extends 'base.html' %}
{% load static %}

{% block title %} Medida Bovino {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
            
        <!-- logo -->
       <a href="{% url 'home' %}" class="navbar-brand text-light">Wound Web</a>
         <!-- Menu hamburguer -->

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navegação -->
        <div class="collapse navbar-collapse" id="nav-target">
            <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a href="#" class="nav-link">Olá {{ user.first_name }}</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li class="nav-item mr-3">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
            {% endif %}
             <li class="nav-item mr-3">
                <a href="{% url 'list_bovinos' %}" class="nav-link">Bovinos</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'list_equinos' %}" class="nav-link">Equinos</a>
            </li>
           </ul>
        </div>

      </div><!-- /.container-->
    </nav> <!-- / barra de navegação -->

<div style="padding-top: 100px; background-image: url({% static 'imagens/background-animais-cad.jpg' %}); background-repeat: no-repeat; background-attachment: fixed; height: 100%;">
    <div class="container-fluid">
            <div class="card col-md-8 offset-md-2 mb-5" style="border-radius: 20px;">
                <div class="card-body">
                    <h1 class="title display-3 col-md-10 offset-md-1 mb-3">Nova Medida Bovino</h1>
                   <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

                                <div class="form-group">
                                    <div class="col-md-10 offset-md-1">
                                        <label class="col-form-label">Data e hora da medida</label>
                                        {{ form.data_medida }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 offset-md-1">
                                        <label class="col-form-label">Imagem</label>
                                        {{ form.image }}
                                    </div>
                                </div>

                                <div class="col-md-10 offset-md-1 pt-3">
                                    <div class="form-group">      
                                        <label class="col-form-label pr-3">Medida obtida em cm²</label>
                                        {{ form.medida_obtida }}
                                    </div>
                                </div>

                                <div class="col-md-10 offset-md-1 pt-3">
                                    <div class="form-group form-inline">
                                        <label class="col-form-label pr-3">Tipo de Ferida</label>
                                        {{ form.tipo_ferida }}
                                        <label class="col-form-label pr-3 pl-4">Animal</label>
                                        {{ form.animal_da_medida }}
                                    </div>
                                </div>


                                 <div class="col-md-10 offset-md-1 pt-3">
                                    <div class="form-group">      
                                        <label class="col-form-label pr-3">Localização da ferida</label>
                                        {{ form.local_ferida }}
                                    </div>
                                </div>

                                 <div class="col-md-10 offset-md-1 pt-3">
                                    <div class="form-group">      
                                        <label class="col-form-label">Observações</label>
                                        {{ form.observacoes }}
                                    </div>
                                </div>


                                <div class="col-md-5 offset-md-3" style="margin-top: 50px">
                                     <button type="submit" class="btn btn-primary btn-block button">Salvar</button>
                                </div>                   
                        </div>

                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

{% endblock %}