{% extends 'base.html' %}
{% load static %}
{% block title %} Espécie {% endblock %}

{% block main %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
            
        <!-- logo -->
        <a href="{% url 'home' %}" class="navbar-brand text-light">Wound Web</a>

         <!-- Menu hamburguer -->

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navegação -->
        <div class="collapse navbar-collapse" id="nav-target">
            <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a href="#" class="nav-link">Olá {{ user.first_name }}</a>
                </li>
                <li class="nav-item mr-3">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li class="nav-item mr-3">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
            {% endif %}
            <li class="nav-item mr-3">
                <a href="{% url 'list_bovinos' %}" class="nav-link">Bovinos</a>
            </li>
            <li class="nav-item mr-3">
                <a href="{% url 'list_equinos' %}" class="nav-link">Equinos</a>
            </li>
           </ul>
        </div>

      </div><!-- /.container-->
    </nav> <!-- / barra de navegação -->
<div class="background-card" style="background-image: url({% static 'imagens/background-card.jpg' %});">
	<div class="container-fluid">
		<div class="row pt-5 mt-5">
			<div class="col-md-4 offset-md-2">
				<div class="card shadow-lg">
					<img class="card-img-top" src="{% static 'imagens/vaca-card.jpg' %}">
					<div class="card-body">
						<a href="{% url 'cadastro_bovino' %}" class="btn btn-outline-primary btn-lg">Bovino</a>
					</div>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="card shadow-lg">
					<img class="card-img-top" src="{% static 'imagens/horse-card2.jpg' %}">
					<div class="card-body">
						<a href="{% url 'cadastro_equino' %}" class="btn btn-outline-primary btn-lg">Equino</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}
