{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block main %}
<div>
    <div class="background-login" style="background-image: url({% static 'imagens/landscape.jpg' %})"> 
            <div class="container">
                
                <h1 class="title text-light col-md-5 offset-md-4 pt-5">Seja Bem Vindo</h1>
                    <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <div class="col-sm-4 offset-md-4">    
                            <label class="col-form-label text-light">Nome de usuário</label>
                            <input type="text" class="form-control" name="username" placeholder="Usuário">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 offset-md-4">
                            <label class="col-form-label text-light">Senha</label>
                            <input type="password" class="form-control" name="password" placeholder="Insira sua senha">
                        </div>
                    </div>
                    <div class="form-group col-sm-4 offset-md-4">
                        <button class="btn btn-outline-light btn-block button">Login</button>
                    </div>
                    </form>
                        <div class=" form-group col-sm-4 offset-md-4">
                            <a href="{% url 'cadastro' %}" class="btn btn-outline-light btn-block button">Criar Conta</a>
                        </div>
            </div>
    </div> 

    <footer class="bg-dark">
        <div class="container">
            <div class="text-center text-light">
                &copy; 2018, by Luiz Moraes
            </div>
        </div>
    </footer>   
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

{% endblock %}