* { margin: 0; padding: 0; }

section 
{
	
	padding-top: 20px;
	padding-bottom: 20px; 
}

canvas
{
	display: block;
	border: 1px solid black;
	margin: 10px auto 0px;
}

button
{
	outline: 0;
	border: 0;
}

#drawingTools
{
	
	width: 800px;
	height: 95px;
	margin: 0px auto;
}

#otherTools
{
	width: 100%;
	height: 60px;

}

#otherTools button
{
	width: 24%;
	border-radius: 20px;
	height: 50px;
	margin: 3px;
	margin-top: 15px;
	background: #303030;
	color: white;
	cursor: pointer;
	float: left;
	font-size: 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
#otherTools button:hover {opacity: 0.5}
#file { opacity: 0; }
