
#teste
{
	
	padding-top: 20px;
	padding-bottom: 20px; 
}

#canvas
{
	display: block;
	border: 2px solid black;
	margin: 10px auto 0px;
}

#drawingTools
{
	
	width: 100%;
	height: 95px;
	display: block;
	margin-left: 250px;
	margin-right: auto;
}

#otherTools
{
	width: 100%;
	height: 60px;

}

#otherTools button
{
	width: 140px;
}

#file { opacity: 0; }
